.main {
  padding: 1rem;
  margin-left: var(--comp-sidebar-width);
  transition: all .3s ease-out;
  height: 100vh;
}

@media only screen and (max-width: 1150px) {
  .main {
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    margin-top: var(--comp-header-height);
    margin-left: 0;
  }
}

.mainsidebaropen {
  margin-left: var(--comp-sidebar-width-open);
}

@media only screen and (max-width: 650px) {
  .mainsidebaropen {
    margin-left: 0;
  }
}

.mainautoheight {
  height: auto;
}

