.footer {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: var(--comp-sidebar-width);
  transition: all .3s ease-out;
}

@media only screen and (max-width: 650px) {
  .footer {
    margin-left: 0;
  }
}

.footersidebaropen {
  margin-left: var(--comp-sidebar-width-open);
}

@media only screen and (max-width: 650px) {
  .footersidebaropen {
    margin-left: 0;
  }
}

.footer-disclaimer {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .footer-disclaimer {
    width: auto;
    margin: 0;
  }
}